.bait-section {
  background-color: #ffffff;
}

.bait-section__paragraph {
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 49px;
  width: 245px;
  font-size: 14px;
  text-align: center;
}

.bait-section__paragraph--width {
  width: 256px;
  padding-top: 23px;
  padding-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .bait-section__paragraph {
    padding-top: 92px;
    padding-bottom: 76px;
    width: 440px;
    font-size: 18px;
  }

  .bait-section__paragraph--width {
    padding-top: 45px;
    padding-bottom: 68px;
  }
}

@media (min-width: $desktop-width) {
  .bait-section__paragraph {
    padding-bottom: 88px;
    width: 580px;
  }

  .bait-section__paragraph--width {
    padding-top: 6px;
    padding-bottom: 66px;
  }
}
