.bait-section {
  background-color: #ffffff;
}

.bait-section__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 45px;
  padding-bottom: 49px;
}

.bait-section__wrapper--bottom {
  padding-top: 22px;
  padding-bottom: 43px;
}

.bait-section__text {
  width: 280px;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #283645;
  word-wrap: break-word;
  text-align: center;
}
