.button {
  width: 280px;
  margin-bottom: 32px;
  padding-top: 14px;
  padding-bottom: 17px;
  display: block;
  font: inherit;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 25px;
  box-sizing: border-box;
}
