.contacts {
  padding-top: 18px;
  padding-bottom: 15px;
  background-color: #ffffff;
}

.contacts__paragraph {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.contacts__list {
  margin: 0 auto;
  padding: 0;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.contacts__item {
  margin-bottom: 21px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__item-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.contacts__item-link {
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .contacts {
  padding-bottom: 20px;
}

  .contacts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts__paragraph {
    margin-top: 27px;
    margin-bottom: 40px;
    width: 370px;
    font-size: 40px;
    line-height: 48px;
  }

  .contacts__list {
    margin: 0;
    width: 640px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contacts__item {
    margin-bottom: 42px;
    width: 242px;
    align-items: center;
    flex-grow: 1;
  }

  .contacts__item--margin-bottom {
    margin-bottom: 7px;
  }

  .contacts__item-header {
    line-height: 33px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    justify-content: center;
    padding-top: 38px;
  }

  .contacts__paragraph {
    margin-bottom: 53px;
    width: 468px;
    font-size: 50px;
    line-height: 59px;
  }

  .contacts__container {
    width: 880px;
  }

  .contacts__list {
    width: 100%;
    justify-content: space-between;
  }

  .contacts__item {
    margin: 0;
    flex-grow: 0;
  }

  .contacts__item:nth-child(2) {
    order: 3;
  }

  .contacts__item-header {
    margin-bottom: 18px;
  }
}
