.form-popup {
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff;
  box-shadow: -5px 5px 15px 0 #dfdfdf;
}

.form-popup__wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
}

.form-popup__header {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.form-popup__main-text {
  font-size: 18px;
  text-align: center;
}

.form-popup__button-container {
  padding-top: 48px;
  padding-bottom: 52px;
}

.form-popup__button-container--bg {
  background-color: #f2f2f2;
}

.form-popup__button {
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 0;
  border: none;
  background-color: #2aab6d;
  text-transform: uppercase;
  letter-spacing: 0;
}

.form-popup__button:hover {
  background-color: #1c9b5e;
}

.form-popup__button:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .form-popup {
    width: 460px;
  }

  .form-popup__wrapper {
    margin: 0 auto;
    width: 320px;
  }

  .form-popup__header {
    margin: 0 auto;
    margin-top: 28px;
    width: 218px;
    font-size: 30px;
    line-height: 42px;
  }

  .form-popup__main-text {
    line-height: 24px;
  }

  .form-popup__button-container {
    padding-top: 21px;
  }

  .form-popup__button-container--bg {
    margin-top: 20px;
    padding-top: 45px;
  }

  .form-popup__button {
    width: 300px;
  }
}
