.form__fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}

.form__fieldset--gray {
  margin-bottom: 25px;
  background-color: #f2f2f2;
}

.form .form__fieldset:last-of-type {
  margin-bottom: 50px;
}

.form__list {
  width: 280px;
  margin: 0;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.form__item {
  margin-bottom: 52px;
}

.form__item--column {
  margin-bottom: 17px;
}

.form__item--margin-bottom {
  margin-bottom: 45px;
}

.form__label-input {
  padding-left: 22px;
  padding-bottom: 5px;
  display: block;
  font-size: 14px;
  color: #d22856;
  text-transform: uppercase;
  cursor: pointer;
}

.form__input-text {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  width: 280px;
  font: inherit;
  font-size: 18px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.form__input-text::placeholder {
  font-size: 18px;
  color: #283645;
}

.form__legend {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 35px;
  margin-bottom: 45px;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}

.form__legend--middle {
  margin-bottom: 40px;
}

.form__label-toggle {
  position: relative;
  cursor: pointer;
}

.form__input-toggle {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__text {
  position: relative;
  padding-left: 70px;
}

.form__input-toggle + .form__text--checkbox::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  background-color: #ffffff;
}

.form__input-toggle:checked + .form__text--checkbox::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 10px;
  width: 35px;
  height: 35px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
}

.form__input-toggle + .form__text--radio::before {
  content: "";
  position: absolute;
  top: -7px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: #ffffff;
}

.form__input-toggle:checked + .form__text--radio::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
}

.form__legend--indent-bottom {
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 15px;
  background-color: #ffffff;
}

.form__text-field {
  padding: 16px 10px 30px 20px;
  font: inherit;
  font-size: 18px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  resize: vertical;
}

.form__text-field::placeholder {
  font-size: 18px;
  color: #283645;
}
