.photo-section {
  display: flex;
  flex-direction: column;
}

.photo-section .container-margin--user-photo-section {
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .photo-section .container-margin--user-photo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .photo-section .container-margin--user-photo-section {
    margin: 0 auto;
    width: 940px;
    justify-content: center;
  }

  .photo-section .container-margin--user-photo-section .post-container:nth-child(3n+2) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
