.photo-settings {
  background-color: #f2f2f2;
}

.photo-settings__form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-settings__container {
  margin-top: 33px;
  padding-bottom: 30px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo-settings__list {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  width: 208px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.photo-settings__item {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
}

.photo-settings__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.3;
  fill: #283645;
}

.photo-settings__icon--contrast {
  width: 32px;
  height: 32px;
}

.photo-settings__button--active {
  fill: #d22856;
  opacity: 1;
}

.photo-settings__button:hover {
  opacity: 0.5;
}

.photo-settings__range {
  margin: 0;
  margin-bottom: 38px;
  padding: 0 40px;
  padding-bottom: 19px;
  width: 240px;
  border: none;
  border-bottom: 1px solid #dddfe0;
}

.photo-settings__range-container {
  margin-top: 5px;
  width: 240px;
}

.photo-settings__range-container--hidden {
  display: none;
}

.photo-settings__range-line {
  position: relative;
  margin-bottom: 15px;
  width: 238px;
  height: 2px;
  background-color: #283645;
}

.photo-settings__range-button {
  padding: 0 5px;
  position: absolute;
  content: "";
  top: -6px;
  right: 32px;
  width: 10px;
  height: 14px;
  border: 2px solid #d22957;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.photo-settings__range-button:hover {
  background-color: #d22856;
}

.photo-settings__sending {
  margin: 0 auto;
  width: 280px;
}

.photo-settings__sending-button--submit,
.photo-settings__sending-button--cancel {
  margin-bottom: 12px;
  width: 278px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  border: 3px solid #d22856;
  background-color: #ffffff;
  color: #d22856;
}

.photo-settings__sending-button--cancel {
  border-color: #283645;
  color: #283645;
  opacity: 0.1;
}

.photo-settings__sending-button--submit:hover {
  background-color: #d22856;
  color: #ffffff;
}

.photo-settings__sending-button--submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d22856;
}

.photo-settings__sending-button--cancel:hover {
  background-color: #ffffff;
  opacity: 0.3;
}

.photo-settings__sending-button--cancel:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #283645;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .photo-settings__form {
    padding: 50px 20px 45px 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .photo-settings__photo {
    margin-top: 8px;
    margin-right: 48px;
  }

  .photo-settings__container {
    margin-top: 17px;
    padding-bottom: 10px;
    width: 275px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .photo-settings__list {
    margin: 0;
    margin-right: 28px;
    padding: 0;
    width: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }

  .photo-settings__item {
    padding-top: 27px;
    padding-bottom: 24px;
    width: 24px;
    height: 22px;
    justify-content: center;
  }

  .photo-settings__item:first-child {
    padding-top: 0;
  }

  .photo-settings__icon {
    width: 24px;
    height: 22px;
  }

  .photo-settings__icon--contrast {
    width: 16px;
    height: 16px;
  }

  .photo-settings__range {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0;
    width: 202px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
  }

  .photo-settings__range-container {
    position: relative;
    width: 202px;
  }

  .photo-settings__range-container::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -55px;
    width: 275px;
    height: 1px;
    background-color: #dddfe0;
  }

  .photo-settings__range-container--hidden {
    display: block;
  }

  .photo-settings__range-line {
    position: relative;
    margin-bottom: 15px;
    width: 202px;
  }

  .photo-settings__range-container:first-child .photo-settings__range-button {
    right: 42px;
  }

  .photo-settings__range-container:nth-child(2) .photo-settings__range-button {
    left: 25px;
  }

  .photo-settings__range-container:last-child .photo-settings__range-button {
    right: 45%;
  }

  .photo-settings__sending {
    margin-top: 65px;
  }

  .photo-settings__sending-button {
    width: 257px;
  }

  .photo-settings__sending-button--submit {
    margin-bottom: 23px;
  }

  .photo-settings__sending-button--cancel {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .photo-settings {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 940px;
  }

  .photo-settings__form {
    padding: 50px;
    padding-bottom: 47px;
    padding-left: 80px;
    justify-content: stretch;
  }

  .photo-settings__photo {
    margin-top: 8px;
    margin-right: 87px;
  }

  .photo-settings__container {
    margin-top: 5px;
    padding-bottom: 10px;
    width: 410px;
  }

  .photo-settings__list {
    margin-right: 45px;
    width: 48px;
  }

  .photo-settings__item {
    padding-top: 14px;
    padding-bottom: 14px;
    width: 50px;
    height: 46px;
  }

  .photo-settings__icon {
    width: 50px;
    height: 46px;
  }

  .photo-settings__icon--contrast {
    width: 32px;
    height: 32px;
  }

  .photo-settings__range {
    margin-top: 16px;
    margin-bottom: 26px;
    width: 288px;
  }

  .photo-settings__range-container {
    position: relative;
    width: 288px;
  }

  .photo-settings__range-container::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -100px;
    width: 410px;
  }

  .photo-settings__range-line {
    position: relative;
    margin-bottom: 15px;
    width: 288px;
  }

  .photo-settings__range-container:first-child .photo-settings__range-button {
    right: 70%;
  }

  .photo-settings__range-container:nth-child(2) .photo-settings__range-button {
    left: 86%;
  }

  .photo-settings__range-container:last-child .photo-settings__range-button {
    right: 39%;
  }

  .photo-settings__sending {
    margin-top: 140px;
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .photo-settings__sending-button {
    margin: 0;
    width: 184px;
  }
}
