.pink-header {
  margin: $margin-auto;
  width: 320px;
  background-color: #283645;
}

.pink-header .container-margin {
  margin: 0;
}

.pink-header--position {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (min-width: $tablet-width) {
  .pink-header {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .pink-header {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1200px;
  }

  .pink-header--bg {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
