.pink-header {
  margin: $margin-auto;
  width: 320px;
  background-color: #283645;
}

.pink-header .container-margin {
  margin: 0;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
}

.header-nav__container {
  padding: 20px;
  width: 280px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}

.header-nav__logo-link {
  display: flex;
  height: 22px;
}

.header-nav__open-button--cross {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-nav__menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.header-nav__item {
  padding-top: 15px;
  padding-bottom: 16px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
}

.header-nav__item-link {
  color: #ffffff;
  line-height: 32px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .pink-header {
    width: 660px;
  }

  .header-nav__container {
    padding: 30px 20px 40px 20px;
    width: 620px;
    align-items: flex-end;
  }

  .header-nav__logo-link {
    height: 40px;
  }

  .header-nav__menu-container {
    width: 100%;
  }

  .header-nav__item {
    padding-bottom: 15px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .pink-header {
    width: 100%;
    max-width: 1200px;
  }

  .pink-header--bg {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .pink-header--position {
    position: absolute;
    left: 0;
    right: 0;
  }

  .header-nav {
    margin: 0 auto;
    width: 940px;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav__container {
    padding-left: 0;
    width: 150px;
    border: none;
  }

  .header-nav__open-button--desktop-hidden {
    display: none;
  }

  .header-nav__menu-container {
    width: 622px;
  }

  .header-nav__menu-list {
    justify-content: space-between;
  }

  .header-nav__item {
    display: flex;
    width: auto;
    border: none;
  }

  .header-nav__item-link {
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
  }
}
