.pink-main {
  margin: $margin-auto;
  width: 320px;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .pink-main {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .pink-main {
    width: 100%;
    max-width: 1200px;
  }
}
