.reviews {
  padding-bottom: 133px;
  background-color: #ffffff;
}

.reviews__wrapper {
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__name {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  color: #000000;
}

.reviews__comment {
  width: 280px;
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  word-wrap: break-word;
}

.reviews__slider {
  width: 60px;
  display: flex;
  justify-content: space-between;
}
