.user-post {
  margin-bottom: 20px;
}

.user-post--wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.user-post--all-width {
  position: relative;
  width: 320px;
}

.user-post__photo-container--panorama-day::before {
  width: 140px;
  height: 15px;
  padding-top: 5px;
  padding-bottom: 15px;
  content: "Панорама дня";
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  background-color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.user-post__link {
  display: flex;
}

.user-post__link--full-size {
  display: flex;
}

.user-post__container-text {
  font-size: 14px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.user-post__container-text--margin {
  margin-right: 20px;
  margin-left: 20px;
}

.user-post__text-centerer {
  padding: 20px 22px 20px 18px;
}

.user-post__user-name-and-post-time {
  margin: 0;
}

.user-post__user-name {
  font-style: normal;
  font-weight: 700;
}

.user-post__post-time {
  font-size: 12px;
  font-weight: 300;
  color: #5e6873;
  text-transform: uppercase;
}

.user-post__user-comment {
  margin: 0;
  margin-bottom: 6px;
}

.user-post__likes {
  position: relative;
  padding-left: 32px;
  font-size: 12px;
  color: #d22856;
  text-decoration: none;
  text-transform: uppercase;
}

.user-post__likes::before {
  width: 13px;
  height: 12px;
  left: 0;
  top: 3px;
  content: "";
  position: absolute;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
}
